nanoKONTROL2 {

{0,1,2}
	pactl set-sink-volume {@DEFAULT_SINK@,HDMI,BT} $VALUE%

32
	pactl set-sink-volume @DEFAULT_SINK@ 100%

48
	pactl set-sink-volume @DEFAULT_SINK@ 30%

64
	pactl set-sink-volume @DEFAULT_SINK@ 0%

}

MDP218 {

0
	pactl set-sink-volume {@DEFAULT_SINK@,HDMI,BT} $VALUE%

}

vmpk {

1
	pactl set-sink-volume @DEFAULT_SINK@ $VALUE%

67
	pactl set-sink-volume @DEFAULT_SINK@ 100%

66
	pactl set-sink-volume @DEFAULT_SINK@ 30%

64
	pactl set-sink-volume @DEFAULT_SINK@ 0%

}

# definitions outside of a scope apply to all devices
# => to suggest to sxhkd as well, to have bindings per keyboard
# "!" at the beginning of a command means it's a builtin
# example of builtins: pulse, pipewire volume, pan…
# implement builtins only if it helps with latency